<a href="https://colab.research.google.com/github/sinkatka/Repository01/blob/master/Sections%204-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
age = 20
print("I'm {} years old.".format(age))

I'm 20 years old.

In [9]:
name = "Elvira"
print("My name is {}.".format(name))

My name is Elvira.

In [11]:
age = 20
print(f"I'm {age} years ald.")

I'm 20 years ald.

In [12]:
name = "Elvira"
print(f"My name is {name}.")

My name is Elvira.

In [13]:
name = "Python" 
version = "3.8"
print(f"I'm learning {name} version {version}")

I'm learning Python version 3.8.

In [14]:
price = 199.99
print('This costs {}'.format(price))

This costs 199.99

In [15]:
price = 199.99
print(f'This costs {price}')

This costs 199.99

In [16]:
price = 199.99
print('This costs', price)

This costs 199.99

In [17]:
name = "Elvira"
print('My name is', name)

My name is Elvira

In [19]:
age = 20
print("I'm", age, "years old")

I'm 20 years old

In [20]:
price = 69.99
print(f"This costs {price}")

This costs 69.99

In [21]:
price = 69.99
print("This costs", price)

This costs 69.99

In [22]:
price = 69.99
print("This costs {}".format(price))

This costs 69.99

In [23]:
type(price)

float

In [24]:
price = 34.99
weight = 20
print(f"Price: ${price}. Weight: {weight} lbs.")

Price: $34.99. Weight: 20 lbs.

In [29]:
pi = 3.1415926535
print(f"Pi: {pi:.2f}")

Pi: 3.14

In [32]:
a = 152.24598711222
print(f"a is {a:.3f}")
print(f"a is {a:.2f}")
print(f"a is {a:.6f}")

a is 152.246
a is 152.25
a is 152.245987

In [35]:
print(40 * "-")
print("VERSION: 1.0.1")
print(40*"-")

----------------------------------------
VERSION: 1.0.1
----------------------------------------

In [36]:
print("="*40)
print("author: johnsmith@sample.com")
print("date: 01-01-2021")
print("="*40)

========================================
author: johnsmith@sample.com
date: 01-01-2021
========================================

In [38]:
sep = "#"
print(f"'summer{sep}time{sep}holiday'")

'summer#time#holiday'

In [39]:
print("summer", "time", "holiday", sep = "#")

summer#time#holiday

In [43]:
print("summer", "time", "holiday", sep = "A ")

summerA timeA holiday

In [47]:
radius = 5
pi = 3.14
area = pi * radius**2
print(f"Area: {area:.1f} in2")

Area: 78.5 in2

In [49]:
rate = 3
a = 1000
period = 1 
for period in range(1,6):
  b = a + a * (rate/100)
  a = b
  period += 1
print(f"The future value of the investment: {a:.2f} USD")

The future value of the investment: 1159.27 USD

In [60]:
a = 3
b = -4
c = 1
delta = b**2 - 4*a*c
print(f"Delta: {delta}")

Delta: 4

In [62]:
a1 = 14
a10 = 50
n = 10
s10 = ((a1 + a10)/2) * n
print(f"The sum of the first 10 elements in a sequence: {s10}")

The sum of the first 10 elements in a sequence: 320.0

In [64]:
n = 1
el = 6
sum = 0
for n in range(1,el + 1):
    sumn = sum + (8 * 2**(n-1))
    sum = sumn
    n += 1
print(f"The sum of the first 6 elements of the sequence is: {sum:.1f}")

The sum of the first 6 elements of the sequence is: 504.0

In [68]:
import math
from math import sqrt
a = 1
b = 5
c = 4
x1 = (-b + sqrt(b**2 + 4*a*c))/(2*a)
x2 = (-b - sqrt(b**2 + 4*a*c))/(2*a)
print(x1)
print(x2)
sum = x1 + x2
prod = x1 * x2
print(f"x1+x2 = {sum:.1f}")
print(f"x1*x2 = {prod:.1f}")

0.7015621187164243
-5.701562118716424
x1+x2 = -5.0
x1*x2 = -4.0

In [73]:
a = 1
b = 5
c = 4
sum = -b/a
product = c/a
print(f"x1+x2 = {sum}\nx1*x2 = {product}")

x1+x2 = -5.0
x1*x2 = 4.0

In [74]:
a = 1
b = 5
c = 4
sum = -b/a
product = c/a
print(f"x1+x2 = {sum}\nx1*x2 = {product}")
print(f'x1+x2 = {sum}\nx1x2 = {product}')

x1+x2 = -5.0
x1*x2 = 4.0
x1+x2 = -5.0
x1x2 = 4.0

In [75]:
a1 = 2
b1 = 4
a2 = -4
b2 = 6
amid = (a1 + a2)/2
bmid = (b1 + b2)/2
print(f"The middle point of a line segment: ({amid}, {bmid})")

The middle point of a line segment: (-1.0, 5.0)

In [76]:
import math
from math import sqrt
a_a = 3
b_a = 2
a_b = -1
b_b = -1
Distance = sqrt((a_b - a_a)**2 + (b_b - b_a)**2)
print(f"The distance between points A and B: {Distance}")

The distance between points A and B: 5.0

In [78]:
a_a = 3
b_a = 2
a_b = -1
b_b = -1
Distance = ((a_b - a_a)**2 + (b_b - b_a)**2)**(1/2)
print(f"The distance between points A and B: {Distance}")

The distance between points A and B: 5.0

In [84]:
a = 1
b = 5
c = 4
x1 = (-b + sqrt(b**2 - 4*a*c))/(2*a)
x2 = (-b - sqrt(b**2 - 4*a*c))/(2*a)
print(f"x1 = {x1:.1f}\nx2 = {x2:.1f}")

x1 = -1.0
x2 = -4.0

In [83]:
a = 1
b = 5
c = 4
x1 = (-b + (b ** 2 - 4 * a * c)**(1/2)) / (2*a)
x2 = (-b - (b ** 2 - 4 * a * c)**(1/2)) / (2*a)
print(f"x1 = {x1:.1f}\nx2 = {x2:.1f}")

x1 = -1.0
x2 = -4.0

In [82]:
a = 1
b = 5
c = 4
delta = b ** 2 - 4 * a * c
delta_sqrt = delta ** (1/2)
x1 = (-b - delta_sqrt) / (2 * a)
x2 = (-b + delta_sqrt) / (2 * a)
print(f'x1 = {x1}')
print(f'x2 = {x2}')

x1 = -4.0
x2 = -1.0

In [86]:
arif_average = (4 + 3 + 4.5 + 5) / 4
print(f"Geometric average of the given numbers: {arif_average:.2f}")

Geometric average of the given numbers: 4.12

In [87]:
x1, x2, x3, x4 = 4, 3, 4.5, 5
geom_average = (x1 * x2 * x3 * x4)**(1/4)
print (f"Geometric average of the given numbers: {geom_average:.2f}")

Geometric average of the given numbers: 4.05

In [88]:
x1, x2, x3, x4 = 1, 1/2, 1/4, 1/8
q = 1/2
s = x1 / (1 - q)
print(f"the sum of the sequence: {s:.1f}")

the sum of the sequence: 2.0

In [89]:
x1, x2, x3 = 10, 11, 9
mean = (x1 + x2 + x3) / 3.0
var = ((x1 - mean)**2 + (x2 - mean)**2 + (x3 - mean)**2) / 3.0
std = var**(1/2)
print(f'The standard deviation of the data set is: {std:.2f}')

The standard deviation of the data set is: 0.82

In [4]:
filename = "view.jpg"
print(filename[-3:])

jpg

In [18]:
string = 'PKV-89415-PLN'
a = string[:3] + string[-3:]
print(a)

PKVPLN

In [7]:
string = '1 0 0 1 0 1'
a = string[::2]
print(f"Number found: {int(a,2)}")
binary = int(a,2)
print(binary)

Number found: 37
37

In [8]:
text = 'Python Course'
reverse = text[::-1]
print(reverse)

esruoC nohtyP

In [10]:
var1 = ''
var2 = ' '
var3 = '\n'
print(type(var1))
print(type(var2))
print(type(var3))

<class 'str'>
<class 'str'>
<class 'str'>

In [11]:
var1 = None
var2 = False
var3 = 'True'
print(type(var1))
print(type(var2))
print(type(var3))

<class 'NoneType'>
<class 'bool'>
<class 'str'>

In [16]:
flag = False
print(isinstance(flag,bool))

True

In [19]:
a = "hello"
print(isinstance(a,bool))

False

In [20]:
a = "hello"
print(isinstance(a,int))

False

In [21]:
a = "hello"
print(isinstance(a,str))

True

In [27]:
text = 'python is a popular programming language.'
print(text.capitalize())

Python is a popular programming language.

In [31]:
text = "Elvira"
print(text.capitalize())

Elvira

In [32]:
text = "elvira "
text2 = "zinnatullina"
print(text.capitalize() + text2.capitalize())

Elvira Zinnatullina

In [39]:
text = 'python is a popular programming language.'
print(f"Number of occurrences: {text.count('p')}")

Number of occurrences: 4

In [ ]:
text = 'python is a popular programming language.'
counter = text.count("p")
print(f"Number of occurrences: {counter}")

In [44]:
code1 = 'FVNISJND-XX-2020'
code2 = 'FVNISJND-XY-2019'
print(f"code1: {code1.endswith('2020')}")
print(f"code2: {code2.endswith('2020')}")

code1: True
code2: False

In [58]:
path1 = 'youtube.com/watch?v=5EhRztVxums'
path2 = 'google.com/search?q=car'
print(f"path1: {path1.startswith('youtube')}")
print(f"path2: {path2.startswith('youtube')}")

path1: True
path2: False

In [61]:
path1 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
path2 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-deep-learning-engineer'
path3 = 'https://e-smartdata.teachable.com/p/sciezka-bi-analyst-data-analyst'
print(f"path1: {path1.find('scientist')}")
print(f"path2: {path2.find('scientist')}")
print(f"path3: {path3.find('scientist')}")

path1: 49
path2: 49
path3: -1

In [64]:
code1 = 'FVNISJND-20'
code2 = 'FVNISJND20'
print(f"code1: {code1.isalnum()}")
print(f"code2: {code2.isalnum()}")

code1: False
code2: True

In [65]:
text = 'Google Colab'
text2 = text.lower()
print(text2)

google colab

In [66]:
text = 'Google Colab'
print(text.upper())

GOOGLE COLAB

In [67]:
text = '  Google Colab   '
print(text.strip())

Google Colab

In [68]:
code = 'FVNISJND-XX'
print(code.replace('-', ' '))

FVNISJND XX

In [70]:
text = '340-23-245-235'
print(text.replace('-', ''))

34023245235

In [71]:
text = 'Open,High,Low,Close'
print(text.replace(',', ', '))

Open, High, Low, Close

In [77]:
text = 'Open,High,Low,Close'
a =text.split(",")
print(a)

['Open', 'High', 'Low', 'Close']

In [80]:
text = """Python is a general-purpose language.
Python is popular."""
print(text.splitlines())

['Python is a general-purpose language.', 'Python is popular.']

In [81]:
num = 34
print(str(num).zfill(6))

000034

In [82]:
url = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
a = url.split('/')[-1]
b = a.replace('-', ' ')
print(b)

sciezka data scientist machine learning engineer